html {
    background-color: #E8E8E8;
}

.header {
    margin:200px;
    /*height: 100px;*/
    background-color: rgb(200, 216, 211);
    width:880px;
    float:left;
    padding-left: 10px;
}

h1 {
    text-align: center;
}

body {
    text-align: center;
}